@model MyHospital_MVC.Models.Appointment

<html>
<head>
    <link rel="stylesheet" href="../../css/AppointmentDelete.css" />
</head>
<body>
    <div class="row text">
        <div class="row">
            <div class="col-md-6 delete-img">
                <img src="https://media.istockphoto.com/id/1365852400/vector/businessman-hand-throw-file-to-trash-vector.jpg?s=612x612&w=0&k=20&c=0pYHZG7hEUVQ9imOzoOGOGfPRTvQ5wqdLKcfOsVeJjI=" alt="delete" class="img-fluid right-image">
            </div>
            <div class="col-md-6 content-delete">
                <h2>Delete Appointment</h2>
                <p>Are you sure you want to delete this Appointment?</p>
                <form asp-action="Delete">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Reason)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Reason)
                        </dd>

                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.PatientId)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.PatientId)
                        </dd>

                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.HealthcareProviderId)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.HealthcareProviderId)
                        </dd>
                    </dl>
                    <div class="form-group">
                        <input type="hidden" asp-id="Id" />
                        <input type="submit" value="Confirm" class="btn delete-button float-right" asp-action="Delete" />
                        <a class="btn btn-index" asp-action="Index">Show All Appointments</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>