@model MyHospital_MVC.Models.HealthcareProvider

<h2>Healthcare Provider Details</h2>

<table class="table">
    <tbody>
        <tr>
            <td><strong>Photo:</strong></td>
            <td>
                <img class="rounded-circle" src="@Url.Content(Model.Photo)" alt="@Model.Name" style="max-width:150px; float:left; margin-right:2000px" />
            </td>
        </tr>
        <tr>
            <td><strong>ID:</strong></td>
            <td>@Model.HealthcareProviderId</td>
        </tr>
        <tr>
            <td><strong>Name:</strong></td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td><strong>Speciality:</strong></td>
            <td>@Model.Speciality</td>
        </tr>
        <tr>
            <td><strong>Contact:</strong></td>
            <td>@Model.Contact</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-outline-secondary" asp-controller="HealthcareProvider" asp-action="Index">Back to List</a>
