@model IEnumerable<MyHospital_MVC.Models.HealthcareProvider>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/HealthcareProviderIndex.css" />
</head>
<body>
    <div class="responsive-container-block container">
        <p class="text-blk team-head-text">
            Our Healthcare Provider Team
        </p>
        <div class="responsive-container-block">
            @foreach (var healthcareProvider in Model)
            {
                <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                    <div class="card">
                        <div class="team-image-wrapper">
                            <img class="rounded-circle" src="@healthcareProvider.Photo"
                                 alt="@healthcareProvider.Name" style="max-width:150px" />
                        </div>
                        <p class="text-blk name">
                            @Html.DisplayFor(modelItem => healthcareProvider.Name)
                        </p>
                        <p class="text-blk position">
                            @Html.DisplayFor(modelItem => healthcareProvider.Speciality)

                        </p>
                        <p class="text-blk feature-text">
                            @Html.DisplayFor(modelItem => healthcareProvider.Contact)

                        </p>
                        <div class="w3-show-inline-block">
                            <div class="w3-bar">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn edit-button" asp-action="Update" asp-route-id="@healthcareProvider.HealthcareProviderId"><i class="bi bi-pencil-square"></i>Edit</a>
                                    <a class="btn delete-button" asp-action="Delete" asp-route-id="@healthcareProvider.HealthcareProviderId"><i class="bi bi-trash"></i>Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="HealthcareProvider" asp-action="Create" class="btn btn-create">Add New Healthcare Provider</a>
            }
        </div>
    </div>
</body>
</html>

