@model IEnumerable<MyHospital_MVC.Models.MedicalRecord>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/MedicalRecordIndex.css" />
</head>
<body>
    <div class="responsive-container-block">
        <p class="text-blk team-head-text">
            MedicalRecords
        </p>
        @foreach (var medicalRecord in Model)
        {
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <p class="text-blk name">
                        ID: @Html.DisplayFor(modelItem => medicalRecord.MedicalRecordId)
                    </p>
                    <p class="text-blk">
                        <b>Diagnosis:</b> @Html.DisplayFor(modelItem => medicalRecord.Diagnosis)
                    </p>
                    <p class="text-blk">
                        <b>Treatment:</b> @Html.DisplayFor(modelItem => medicalRecord.Treatment)
                    </p>
                    <p class="text-blk feature-text">
                        <b>Medication:</b> @Html.DisplayFor(modelItem => medicalRecord.Medication)
                    </p>
                    <p class="text-blk feature-text">
                        <b>LabResult:</b> @Html.DisplayFor(modelItem => medicalRecord.LabResult)
                    </p>
                    <p class="text-blk feature-text">
                        <b>History:</b> @Html.DisplayFor(modelItem => medicalRecord.History)
                    </p>
                    <div class="w3-show-inline-block">
                        <div class="w3-bar">
                            <a class="btn edit-button" asp-action="Update" asp-route-id="@medicalRecord.MedicalRecordId"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn delete-button" asp-action="Delete" asp-route-id="@medicalRecord.MedicalRecordId"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </div>
                    <a class="btn detail-button" asp-action="Details" asp-route-id="@medicalRecord.MedicalRecordId">
                        <i class="bi bi-pencil-square"></i>Patient's Info
                    </a>
                </div>
            </div>
        }
    </div>
    <div>
        <a asp-controller="MedicalRecord" asp-action="Create" class="btn btn-create">Add New Medical Record</a>
    </div>

</body>
</html>