@model MedCare_Hospital.Data.ViewModels.PatientMedicalRecord

<html>
<head>
    <link rel="stylesheet" href="../../css/PatientDetails.css" />
</head>
<body>
    <div class="container-details">
        <h2 class="heading">Patient's Medical Record</h2>
        <div class="content">
            @if (Model.MedicalRecord != null)
            {
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>ID:</strong></td>
                            <td>@Model.Patient.PatientId</td>
                        </tr>
                        <tr>
                            <td><strong>Diagnosis:</strong></td>
                            <td>@Model.MedicalRecord.Diagnosis</td>
                        </tr>
                        <tr>
                            <td><strong>Treatment:</strong></td>
                            <td>@Model.MedicalRecord.Treatment</td>
                        </tr>
                        <tr>
                            <td><strong>Medication:</strong></td>
                            <td>@Model.MedicalRecord.Medication</td>
                        </tr>
                        <tr>
                            <td><strong>LabResult:</strong></td>
                            <td>@Model.MedicalRecord.LabResult</td>
                        </tr>
                        <tr>
                            <td><strong>History:</strong></td>
                            <td>@Model.MedicalRecord.History</td>
                        </tr>

                    </tbody>
                </table>
            }
            else
            {
                <p>There is no Medical Record saved.</p>
                <p>Add patient's Medical Record if there is a need of it.</p>
                <a asp-controller="MedicalRecord" asp-action="Create" class="btn btn-create">Add Medical Record</a>
            }

        </div>
        @if (Model.MedicalRecord != null)
        {
            <a class="btn btn-update" asp-controller="MedicalRecord" asp-action="Update" asp-route-id="@Model.MedicalRecord.MedicalRecordId"><i class="bi bi-pencil-square"></i>Edit</a>
        }
        <a class="btn btn-index" asp-controller="Patient" asp-action="Index">Back to List</a>

    </div>

</body>
</html>