@model MedCare_Hospital.Data.ViewModels.PatientMedicalRecord

<html>
<head>
    <style>
        body {
            background-image: url('https://media.istockphoto.com/id/1274833939/photo/top-view-of-medical-history-form-in-clipboard-stethoscope-and-other-stuff.jpg?s=612x612&w=0&k=20&c=RPRt-Prr9IDQaQLTlbB3mLTOLGPt4v4ULlex5jA9iUk=');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .container-details {
            background-color: #fff;
            opacity: 90%;
            width: 500px;
            margin-left: 800px;
            padding: 25px 25px;
        }

        .heading {
            margin-bottom: 25px;
        }

        .btn-update {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #0097a7;
            color: #fff;
            padding-left: 50px;
            padding-right: 50px;
        }

        .btn-index {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #fff;
            border: 2px solid #0097a7;
            color: #0097a7;
            padding-left: 50px;
            padding-right: 50px;
        }

        .btn-create {
            background-color: #0097a7;
            border: 2px solid #fff;
            color: #fff;
            font-family: 'Arial Rounded MT';
            font-size: 15px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }

            .btn-create:hover {
                border: 2px solid black;
                background-color: white;
                color: #0097a7;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="container-details">
        <h2 class="heading">Patient's Medical Record</h2>
        <div class="content">
            @if (Model.MedicalRecord != null)
            {
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>ID:</strong></td>
                            <td>@Model.Patient.PatientId</td>
                        </tr>
                        <tr>
                            <td><strong>Diagnosis:</strong></td>
                            <td>@Model.MedicalRecord.Diagnosis</td>
                        </tr>
                        <tr>
                            <td><strong>Treatment:</strong></td>
                            <td>@Model.MedicalRecord.Treatment</td>
                        </tr>
                        <tr>
                            <td><strong>Medication:</strong></td>
                            <td>@Model.MedicalRecord.Medication</td>
                        </tr>
                        <tr>
                            <td><strong>LabResult:</strong></td>
                            <td>@Model.MedicalRecord.LabResult</td>
                        </tr>
                        <tr>
                            <td><strong>History:</strong></td>
                            <td>@Model.MedicalRecord.History</td>
                        </tr>

                    </tbody>
                </table>
            }
            else
            {
                <p>There is no Medical Record saved.</p>
                <p>Add patient's Medical Record if there is a need of it.</p>
                <a asp-controller="MedicalRecord" asp-action="Create" class="btn btn-create">Add Medical Record</a>
            }

        </div>
        @if (Model.MedicalRecord != null)
        {
            <a class="btn btn-update" asp-controller="MedicalRecord" asp-action="Update" asp-route-id="@Model.MedicalRecord.MedicalRecordId"><i class="bi bi-pencil-square"></i>Edit</a>
        }
        <a class="btn btn-index" asp-controller="Patient" asp-action="Index">Back to List</a>

    </div>

</body>
</html>