@model IEnumerable<MyHospital_MVC.Models.Patient>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/PatientIndex.css" />
</head>
<body>
    <div class="responsive-container-block">
        <p class="text-blk team-head-text">
            Patients List
        </p>
        @foreach (var patient in Model)
        {
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <p class="text-blk name">
                        @Html.DisplayFor(modelItem => patient.Name)
                    </p>
                    <p class="text-blk">
                        @Html.DisplayFor(modelItem => patient.Age) Years Old
                    </p>
                    <p class="text-blk">
                        @Html.DisplayFor(modelItem => patient.DateOfBirth)

                    </p>
                    <p class="text-blk feature-text">
                        @Html.DisplayFor(modelItem => patient.Contact)

                    </p>
                    <div class="w3-show-inline-block">
                        <div class="w3-bar">
                            <a class="btn edit-button" asp-action="Update" asp-route-id="@patient.PatientId"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn delete-button" asp-action="Delete" asp-route-id="@patient.PatientId"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </div>
                    <a class="btn detail-button" asp-action="Details" asp-route-id="@patient.PatientId">
                        <i class="bi bi-pencil-square"></i>Medical Record
                    </a>
                </div>
            </div>
        }
    </div>
    <div>
        <a asp-controller="Patient" asp-action="Create" class="btn btn-create">Add New Patient</a>
    </div>

</body>
</html>